{% load static i18n %}
<nav class="navbar">
	<div>
		<div class="text text-center logo">
			<b>LOGO</b>
		</div>
		<ul  class="metismenu">
			<li><i class="material-icons nav-icons">home</i> <a href="/">Home</a></li>
			<li><i class="material-icons  nav-icons">chrome_reader_mode</i><a href="/"> News</a></li>
			<li><i class="material-icons nav-icons">person</i> About</li>
			<li><i class="material-icons nav-icons">group_add</i><a href="{% url 'registration' %}"> Registration </a></li>
		</ul>
        
        {% if user.is_authenticated %}
            <p style="margin-top: 10px">
                <a href="{% url 'auth_logout' %}">{% trans 'вихід'|capfirst %}</a>
            </p>
        {% endif %}
		
	</div>

</nav>