{% extends "main.html" %}

{% load static  %}
{% load i18n blog %}
{% block content %}

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            {% if registered_user %}
                <h1>
                    {% blocktrans trimmed with u=registered_user.get.get_short_name %}
                        Дякую за регістрацію {{ u }}
                    {% endblocktrans %}
                </h1>
                <p>
                    {% blocktrans trimmed with e=registered_user.email %}
                        Перейдіть по ссилці яка відправлена на ваш {{ e }}
                    {% endblocktrans %}
                </p>
            {% else %}
                <h1 class="text-center">{% trans 'регістрація'|capfirst %}</h1>

                <form action="" class="form-horizontal" method="post">{% csrf_token %}
                    {% for field in form %}
                        {% show_form_errors field.errors 'col-sm-offset-4 col-sm-8' %}
                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label col-sm-6">
                               {{ field.label }}
                            </label>
                            <div class="col-sm-6">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" class="btn btn-primary" value="{% trans 'зарегатись'|capfirst %}">
                        </div>
                    </div>
                </form>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-offset-4 col-sm-8">
                        <a href="{% url 'login' %}">{% trans 'авторизация'|capfirst%}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
	
{% endblock %}